body {
  font-family: sans-serif;
  font-size: 14px;
  background-color: #37373d;
  cursor: default;
  margin: 0;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.level-line {
  stroke: #5f5f64;
}

.level-value {
  fill: #5f5f64;
}

.axis-line {
  stroke: #5f5f64;
}

.axis-name {
  fill: #fff;
}

.value {
  fill: #fff;
}

.legend-item-text {
  fill: #5f5f64;
}
